body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

header {
  padding: 20px 64px;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
  flex-grow: 1;
  font-weight: bold;
}

.link,
.secondary-text,
.image-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

.introduction {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 64px;
}

.intro-section,
.image {
  display: flex;
}

.intro-section {
  flex-direction: column;
  flex-basis: 400px;
  gap: 12px;
}

.awesome-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.secondary-text {
  margin-bottom: 8px;
}

.sign-up-button {
  width: fit-content;
  background: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  color: #f9faf8;
}

.image {
  padding: 16px;
  background-color: #bcc3d3;
  justify-content: center;
  align-items: center;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 32px;
}

.information-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
}

.information-section {
  display: flex;
  justify-content: center;
  gap: 38px;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.illustration {
  flex-basis: 200px;
  width: 200px;
  border: 3px solid #3882f6;
  border-radius: 10%;
}

.illustation-text {
  width: 200px;
  font-size: 18px;
  color: #919090;
  font-weight: 400;
}
