body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

header {
  padding: 20px 64px;
  display: flex;
  flex-direction: column;
}

header nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  margin-bottom: 50px;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 70%;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
  flex-grow: 1;
  font-weight: bold;
}

.link,
.secondary-text,
.image-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

.introduction {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 64px;
}

.intro-section,
.image {
  display: flex;
}

.intro-section {
  flex-direction: column;
  flex-basis: 400px;
  gap: 12px;
}

.awesome-text {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.secondary-text {
  margin-bottom: 8px;
}

.sign-up-button {
  width: fit-content;
  background: #3882f6;
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  color: #f9faf8;
}

.image {
  padding: 64px;
  background-color: #5b5f68;
  justify-content: center;
  align-items: center;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 32px 0 58px;
}

.information-header {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
}

.information-section {
  display: flex;
  justify-content: center;
  gap: 38px;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.illustration {
  flex-basis: 200px;
  width: 200px;
  border: 3px solid #3882f6;
  border-radius: 10%;
}

.illustation-text {
  width: 200px;
  font-size: 18px;
  color: #919090;
  font-weight: 400;
}

.quote-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
  padding: 64px 0 50px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  padding: 10px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author {
  font-style: normal;
  text-align: right;
  font-weight: 600;
  font-size: 24px;
}

.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.call-to-action-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
  background-color: #3882f6;
  width: 80%;
  padding: 36px;
  border-radius: 8px;
}

.call-to-action-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.call-to-action-text .primary {
  font-size: 24px;
  color: #f9faf8;
}

.call-to-action-text .secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.call-to-action-button {
  border: 1px solid white;
  background-color: #3882f6;
  border-radius: 8px;
  padding: 8px 24px;
  height: fit-content;
  color: #f9faf8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px 0;
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}
