body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

a {
  text-decoration: none;
}

header {
  padding: 16px;
  display: flex;
}

header nav {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.logo-text {
  font-size: 24px;
  color: #f9faf8;
  flex-grow: 1;
  font-weight: bold;
}

.link {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}
